{% extends 'base_admin.html' %}

{% block title %}
    <title>Al Habibi Farm</title>
{% endblock %}

{% block page_header %}

    <h2 class="pageheader-title">Admin</h2>

    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('admin_add_owner')}}" class="breadcrumb-link">Add / Owner</a></li>
            </ol>
        </nav>
    </div>

{% endblock %}

{% block content %}

    {% if msg == 'True'  %}
            <div class="card-body border-top">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucess!</strong> Owner has been added.
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>
    {% elif msg == 'False' %}
            <div class="card-body border-top">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Something went wrong!</strong> Try Aganin!!!
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>
    {% endif %}




    <row>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Add Owner</h5>
                <div class="card-body">
                    <form action="{{url_for('admin_add_owner')}}" id="AddEmployeeForm" data-parsley-validate="" method="post">

                        <div class="form-group">
                            <label for="OwnerName">Owner Name</label>
                            <input id="OwnerName" type="text" name="OwnerName" data-parsley-trigger="change" required="" placeholder="Enter owner name" autocomplete="off" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">

                            </div>
                            <div class="col-sm-6 pl-0">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <button class="btn btn-space btn-secondary">Cancel</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </row>

{% endblock %}